<nav class="navbar bg-body-tertiary bg-gradient sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">GM Tennis Club</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="facilities">Facilities &amp; Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reservations">Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="contactus">Contact us</a>
          </li>
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link " href="logout">Log-out</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link " href="login">Log-in</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</nav>