<section id="sec1" class="d-flex py-5 justify-content-center align-items-center bg-image"
  style="min-width:90vw; min-height:100vh;background-size:cover;background-repeat: no-repeat; background-position: center; background-image:url(./images/bg.jpg);">
  <p class="text-center text-wrap fs-1 text-dark fw-bolder" id="p1">Welcome to the most up-to-date tennis club in town!
  </p>
</section>

<section id="sec2" class="bg-secondary-subtle text-bg-light p-4">
  <h1 class="text-center text-wrap">What is our goal?</h1>
  <p class="text-center text=wrap fs-3">Our goal is to provide the ability to anyone to enjoy their favourite sport.</p>
</section>

<section id="sec3" class="bg-secondary-subtle text-bg-light p-4 fs-4 border-top border-2 border-dark">
  <h2 class="text-center text-wrap">Our Facilities</h2>
  <ul class="list-group-numbered">
    <li class="list-group-item ">6 New Courts</li>
    <li class="list-group-item ">Modern Locker Rooms</li>
    <li class="list-group-item ">Café / Clubhouse</li>
    <li class="list-group-item ">Equipment Store</li>
    <a class="btn btn-dark" href="/facilities#facilities" role="button">Find out more &gt;</a>
  </ul>
</section>

<section id="sec4" class="text-bg-dark bg-gradient p-4">
  <h2 class="text-center text-wrap ">Our Services</h2>
  <div class="row justify-content-around">
    <div class="col-md-3 ">
      <div class="card h-100">
        <img class="img-fluid"
          src="./images/c1.jpg"
          alt="Tennis Court Rental" height="150px">
        <div class="card-body">
          <h5 class="card-title">Tennis court rental</h5>
          <p class="card-text">The members of the club can book any one of the available courts to use </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <img class="img-fluid"
        src="./images/c2.jpg"
          alt="Tennis Lessons">
        <div class="card-body">
          <h5 class="card-title">Tennis lessons</h5>
          <p class="card-text">We offer our members the ability to practice and learn with a number of qualified
            coaches.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <img class="img-fluid"
          src="./images/c3.jpg"
          alt="Tennis Equipment">
        <div class="card-body">
          <h5 class="card-title">Equipment store</h5>
          <p class="card-text">We offer our members the ability to buy equipment from our store at discount prices.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center mt-4">
      <div class="col-md-3 justify-content-center align-items-center">
        <a href="/facilities#services" class="btn btn-light mx-3 text-wrap" role="button">Find out more &gt;</a>
      </div>
    </div>
  </div>

</section>