<link rel="stylesheet" href="res_style.css">
<script src="res_script.js" defer></script> 


<div class="py-4">
    <h3 class="text-center"> Make your reservation</h3>
    <hr>
</div>

<div class="container-fluid d-flex justify-content-center p-sm-3" id="inputContainer">

    <label class="mx-2 fw-bold" for="date">Select Date: </label>
    <input class="mx-2" type="date" id="dateInput" name="date" />
    <button id="generateButton">Search</button>
</div>
<div class="container-fluid justify-content-center p-sm-3" id="gridContainer">

</div>